
body {
    font-family: 'Nunito', sans-serif;
    color: #333e48;
    margin: 0;
    width: 100%;
}

html,
body {
    height: 100%;
}

.navbar {
    background: white;
    margin: 0;
    width: 100%;
    box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 7%);
}

.nav {
    margin: auto;
    padding: 0.5%;
    align-items: center;
    display: flex;
}

.logo-container {
    width: 27%;
    float: left;
    text-align: center
}

.brand-logo {
    width: 35%;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 50%;
    float: left;
    text-align: center;

}

.search-box {
    float: right;
    width: 70%;
    padding: 1%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #ea1b25;
    text-transform: capitalize;
    font-size: 1.1vw;
}

.search-btn {
    float: right;
    width: 20%;
    padding: 1%;
    cursor: pointer;
    background: #ea1b25;
    color: white;
    font-size: 1.1vw;
    text-transform: capitalize;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #ea1b25;

}

.search-box::placeholder {
    color: #a9a9a9;
}

.icons-container {
    width: 20%;
    float: left;
    padding-left: 3%;
}

.header-cart {
    width: 15%;
    margin-right: 7%;
}

.header-profile {
    width: 15%;
    margin-right: 7%;
}

div.container-footer.w-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding-bottom: 40px;
    padding-top: 70px;
}

div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.w-row {
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
}

div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

img.failory-logo-image {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    max-width: 100%;
    vertical-align: middle;
}

h3.footer-failory-name {
    box-sizing: border-box;
    color: #f8f8f8;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
}

p.footer-description-failory {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
}

br {
    box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
}

div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
}

h3.footer-titles {
    box-sizing: border-box;
    color: #f8f8f8;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
}

p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
}

a {
    background-color: transparent;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
}

a:active {
    outline: 0;
}

a:hover {
    outline: 0;
}

span.footer-link {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

span.footer-link:hover {
    color: #ffffff;
    font-weight: 400;
}

span {
    box-sizing: border-box;
}

strong {
    box-sizing: border-box;
    font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: 0.8;
    text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
}

img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

p.footer-description {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
}

strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
}

.mt-30 {
    margin-top: 30px
}

.card {
    border-radius: 7px !important;
    border-color: #e1e7ec
}

.mb-30 {
    margin-bottom: 30px !important
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec
}

a {
    color: #000000;
    text-decoration: none !important
}

a:hover {
    color: #ea1b25;
}

.card-img-tiles > .inner {
    display: table;
    width: 100%
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .main-img > img:last-child,
.card-img-tiles .thumblist > img:last-child {
    margin-bottom: 0
}

.card-img-tiles .main-img > img,
.card-img-tiles .thumblist > img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.thumblist {
    width: 35%;
    border-left: 1px solid #e1e7ec !important;
    display: table-cell;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .thumblist > img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.btn-group-sm > .btn,
.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #000000;
    border-color: #000000;
}

.btn-sm:hover {
    background: #ea1b25;
    border-color: white;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

/* Left Column */
.left-column img {
    width: 70%;
    height: auto;
    position: relative;
    left: 10%;
}


/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #ea1b25;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .1s;
}

.cart-btn:hover {
    background-color: white;
    border-width: 1px;
    border: inset;
    border-color: black;
    color: #ea1b25;

}

/* Cart */

.Cart-container {
    padding-top: 50px;
}

.Carttable-area {
    position: relative;
    z-index: 0;
    margin-top: 50px;
}

.CartListWord {
    font: 2em sans-serif;
    color: red;
}

.Carttable-Header {
    text-align: center;
    font-size: 1em;
}

.carttable-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;;
}

.carttable-item-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;;
}

.carttable-item-quanitity {
    display: block;
    width: 10%;

}

.carttable-item-quanitity-btn {
    width: 60px;
    height: 50px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.carttable-item-update-btn {
    display: inline-block;
    background-color: #ea1b25;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    transition: all .1s;
}

.carttable-item-update-btn:hover {
    background-color: white;
    color: #ea1b25;
}

.carttable-item-price {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}


.carttable-item-remove-btn {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 11px;
    text-decoration: none;
    transition: all .1s;
}

.carttable-item-remove-btn:hover {
    background: #ea1b25;
    border-color: white;
}

.carttable-remove-btn {
    position: relative;
    bottom: 10px;
    right: 10px;
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: white;
    background-color: red;
    border-color: #000000;
}

.carttable-remove-btn:hover {
    background-color: white;
    color: red;
}

.Carttable.responsive-table {
    display: table;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    /* table must have width set for fixed layout to work as expected */
    height: 100%;
}

.Carttable.responsive-table thead {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 3em;
    background: #eee;
    table-layout: fixed;
    display: table;
}

.Carttable.responsive-table th {
    background: #eee;
}

.Carttable.responsive-table td {
    line-height: 2em;
}

.Carttable.responsive-table tr > td,
.Carttable.responsive-table th {
    text-align: left;
}

table#cart thead {
    display: none;
}

table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
}

table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
}

table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
}


table#cart tfoot td {
    display: block;
}

table#cart tfoot td .btn {
    display: block;
}

/* CheckOut */
.CheckOut {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

select,
.checkoutForm {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.checkoutForm[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkoutForm[type=submit]:hover {
    background-color: #45a049;
}

.CheckOut {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
